body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

li {
    list-style: none;
}

.col-md-10 {
    background-color: #e8eaed;
    height: 100vh;
}

#left-sidebar {
    background-color: #e8eaed;
    height: 100vh;
    color: #202124;
    padding: 20px;
    padding-top: 10px;
}

/*#left-sidebar .logo {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
            color: #4285f4;
            text-align: center;
        }*/
#left-sidebar .logo {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}


#left-sidebar .user-info {
    background-color: white;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    font-size: 1.2rem;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    color: #5f6368;
    text-align: left;

    position: relative;
    top: 1%;
}

#left-sidebar .user-name {
    font-weight: bold;
    font-size: 1.4rem;
}

#left-sidebar .buttons {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;

    position: relative;
    top: 50px;
}

#left-sidebar .logout-button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    width: 15%;
    cursor: pointer;

    position: fixed;
    bottom: 7%;

}

#left-sidebar button {
    margin-bottom: 10px;
    color: #202124;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#left-sidebar button:hover {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: #513d75;
    border: round;
    border-radius: 20px;
    /* color: #202124; */
}

#left-sidebar .logout-button:hover {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: red;
    border: round;
    border-radius: 10px;
    color: white;
}


#left-sidebar button.active,
#left-sidebar button.active:hover {
    background-color: #f1f3f4;
    color: #202124;
    cursor: default;
}

#left-sidebar hr {
    border-color: #dadce0;
    margin: 10px 0;
}


#main-content {
    border-radius: 10px;
    background-color: white;
    margin-top: 5%;
    border: round;
    height: 85%;
    padding-top: 15px;
    align-items: center;
    padding: 0 20px;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
}

.tab-info {
    font-size: x-large;

    position: relative;
    top: 2%;
}

.user-form {
    padding-top: 2%;
    padding-left: 4%;
    margin-right: 10px;
    text-align: left;
}

input {
    width: 50%;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: inline;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}