body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.col-md-10 {
    background-color: #e8eaed;
    height: 100vh;
}

#topbar {
    background-color: #e8eaed;
    height: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#topbar button {
    background-color: transparent;
    color: #202124;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#topbar button:hover {
    */ text-decoration: underline;
    */
}

#left-sidebar {
    background-color: #e8eaed;
    height: 100vh;
    color: #202124;
    padding: 20px;
    padding-top: 10px;
}

/*#left-sidebar .logo {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
            color: #4285f4;
            text-align: center;
        }*/
#left-sidebar .logo {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}


#left-sidebar .user-info {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #5f6368;
    text-align: center;
}

#left-sidebar button {
    margin-bottom: 10px;
    color: #202124;
    background-color: transparent;
    border: none;
    /* font-size: 5rem; */
    font-family: 'Product Sans';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#left-sidebar button:hover {
    background-color: #c0afde;
    border: round;
    border-radius: 20px;
    color: #202124;
}

#left-sidebar button.active,
#left-sidebar button.active:hover {
    background-color: #f1f3f4;
    color: #202124;
    cursor: default;
}

#left-sidebar hr {
    border-color: #dadce0;
    margin: 10px 0;
}


#main-content {
    border-radius: 10px;
    background-color: white;
    margin-top: 5%;
    border: round;
    height: 83h;
    padding-top: 15px;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}